
// ===
// LAYOUT

// Position
@mixin position(
  $top: 'null',
  $right: 'null',
  $bottom: $top,
  $left: $right,
  $position: absolute,
  $z-index: 'null'
) {
  position: $position;

  @if $top != 'null' {
    top: $top;
  }
  @if $right != 'null' {
    right: $right;
  }
  @if $bottom != 'null' {
    bottom: $bottom;
  }
  @if $left != 'null' {
    left: $left;
  }

  @if $z-index != 'null' { z-index: $z-index; }
}


// Dimensions
@mixin dimensions($width, $height) {
  height: $height;
  width: $width;
}


// Clearfix ('traditional' pseudo-element clear)
@mixin cfafter {
  &::after {
    clear: both;
    content: ' ';
    display: block;
  }
}



// ===
// TYPOGRAPHY


// em's Calculator
@function em($value, $base: 16) {
  @return ($value / $base) * 1em;
}


// Caps
@mixin caps($spaces: 1, $fontsize: 16) {
  letter-spacing: (1em * $spaces / $fontsize);
  text-transform: uppercase;
}


// Visually Hidden
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
